<h1>Proyecto DBCS</h1>
<h2>Desarrollado por:</h2>
<h3>Jorge Aguado Recio</h3>
<h3>Alejandro Carrasco Calvo</h3>
<h3>Andrés Fidalgo Diaz</h3>
<br>
<p>Seleccione una de las opciones mostradas a continuación:</p>
<br>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" [routerLink] = "['/users']">Usuarios</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" [routerLink] = "['/vehicles']">Vehiculos</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" [routerLink] = "['/chargerpoints']">Puntos de carga</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" [routerLink] = "['/recharge']">Recargas</button>
    </div>
  </div>
