<h1>Modificación de punto de carga</h1>

<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="onSubmit()" #puntoCargaForm="ngForm" id="puntoCargaForm">
      <fieldset class="form-group">
        <div class="col-sm-3">
          <label class="control-label" for="status">Estado del cargador</label><label id="obligatorio_asterisco"> *</label>
          <select class="form-control" form="puntoCargaForm"
                  [(ngModel)]="puntoCarga.status" name="status">
            <option value="MANTENIMIENTO">En mantenimiento</option>
            <option value="DISPONIBLE">Disponible</option>
            <option value="EN_SERVICIO">En servicio</option>
          </select>
        </div>
      </fieldset>
      <label id="requisitosObligatorios">Todos los campos marcados con * son obligatorios.</label>
      <fieldset class="form-group">
        <div class="col-sm-offset-2 col-sm-12">
          <button type="submit" class="btn btn-primary" [disabled]="!puntoCargaForm.form.valid">
            Confirmar </button>
        </div>
      </fieldset>
    </form>
    <div *ngIf="errorMensaje" class="alert alert-danger" role="alert">
      {{ errorMensaje }}
    </div>
  </div>
</div>
